<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Tea4U</title>

  {{#block 'css'}}
  {{!-- <link rel="stylesheet" href="/css/landing.css" type="text/css" /> --}}
{{/block}}
</head>

<body style="padding:0px;background-color:#c4a9a6">
  <div class="container-fluid" style="padding:0px">

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light" style="background-color: #c4a9a6 !important;">

      <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/" style="margin-right:15px;color:black;">Tea4U</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tea" style="margin-right:15px;color:black;">Tea Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brand" style="margin-left:15px;margin-right:15px;color:black;">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user" style="margin-left:15px;margin-right:15px;color:black;">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer" style="margin-left:15px;margin-right:15px;color:black;">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order" style="margin-left:15px;margin-right:15px;color:black;">Orders</a>
          </li>
        </ul>

        <div>
          {{#if user}}
          <span style="margin-right:10px;">{{user.username}}</span>
          <a href="/user/logout" class="btn btn-danger btn-sm">Logout</a>
          {{else}}

          <span style="margin-right:10px;">Hi Guest</span>
          <a href="/user/login" class="btn btn-sm btn-success">Login</a>
          {{/if}}
        </div>
      </div>

    </nav>
    <div style="position:absolute;z-index:100;">
    {{#if success_messages}}
    {{#each success_messages}}
    <div class="alert alert-success">{{this}}</div>
    {{/each}}
    {{/if}}

    {{#if error_messages}}
    {{#each error_messages}}
    <div class="alert alert-danger">{{this}}</div>
    {{/each}}
    {{/if}}
    </div>
    
    {{#block 'content'}}
    {{/block}}


  {{#block 'js'}}

  {{/block}}
</body>

</html>