{{#extends 'base'}}
    {{#block 'content'}}
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {{{form}}}
            <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
            <input type="submit" class="btn btn-primary my-3 "/>
        </form>
    </div>

    {{/block}}
{{/extends}}