{{#extends 'base'}}
    {{#block 'content'}}
    <div class="container">
        <h1>Modify User Password</h1>
        <form method="POST">
            {{{form}}}
            <input type="submit" class="btn btn-primary my-3 "/>
            <a href="/user" class="btn btn-danger my-3 ">Return</a>
        </form>
    </div>

    {{/block}}
{{/extends}}