{{#extends 'base'}}
    {{#block 'content'}}
    <div class="container-fluid">
        <div>
            <h1 style="display:inline-block">List of Orders</h1> 
        </div>
        <div class="my-3">
            <form method="POST">
                {{{form}}}
            <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
                <input type="submit" class="btn btn-primary my-3"/>
            </form>
        </div>
    </div>

    {{/block}}
{{/extends}}